<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bdfinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <bdfinal.Properties.Settings>
            <setting name="A_Match_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Match_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Division_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Division_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Propos_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Propos_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AffJoueur_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AffJoueur_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Fiche_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Fiche_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Joueur_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Joueur_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Classement_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Classement_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Match_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Match_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mod_Joueur_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mod_Joueur_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mod_Equipe_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Mod_Equipe_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Settings_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Setting_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Equipe_Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="A_Equipe_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DGV_Alt_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="DGV_Def_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Header_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Form_BG_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Text_Color" serializeAs="String">
                <value />
            </setting>
        </bdfinal.Properties.Settings>
    </userSettings>
</configuration>